/*Base Styles*/
		*{
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}
		body{
			margin-top: 8px;
			padding: 10px 0px 0px 0px;
		}
		h1{
			margin-bottom: 30px;
			text-align: center;
			padding: 10px;
			font-family: Arial, Helvetica, sans-serif;
		}

		section{
			background-color: #BBBBBB;
			width:100%;
			height:100%;
			font-family: Helvetica;
			color: black;
			font-weight: bold;
			padding: 10px;

		}
        p{
        	display: inline-block;
        	position: relative;
        	top: 40px;
        	font-size: 100%;
        	font-family: Arial, Helvetica, sans-serif
        }
        p.two{
          background-color: #FF8585;
          width: 120px;
          height: 30px;
          border: 1px solid black;
          margin-bottom: 15px;
          position: absolute;
          top: 0;
          right: 0;
          text-align: center;
         font-size: 125%;
        }
        p.three{
        	background-color: #CF4242;
        	width: 120px;
        	height: 30px;
        	border: 1px solid black;
        	margin-bottom: 15px;
        	position: absolute;
        	top: 0;
        	right: 0;
        	text-align: center;
        	font-size: 125%;
        	color: white;
        }
        p.four{
        	background-color: #EFF08D;
        	width: 120px;
        	height: 30px;
        	border: 1px solid black;
        	margin-bottom: 15px;
        	position: absolute;
        	top: 0;
        	right: 0;
        	text-align: center;
        	font-size: 125%;

        }
        section.rel{
        	position: relative;
        }
		/*Simple Responsive Framework*/
		.row{
			width: 100%;
		}
        
		/*Large Devices Only*/
		@media (min-width: 992px) {
			.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
				float: left;
				border: 2px solid black;
				margin-left: 30px;
				height: 215px;
			}
			.col-lg-1{ 
				width: 8.33%;
			}
			.col-lg-2{
				width: 16.66%;
			}
			.col-lg-3{
				width: 25%;
			}
			.col-lg-4{
				width: 33%;
			}
			.col-lg-5{
				width: 41.66%;
				margin-left: 100px;
			}
			.col-lg-6{
				width: 50%;
			}
			.col-lg-7{
				width: 58.33%;
			}
			.col-lg-8{
				width: 66.66%;
			}
			.col-lg-9{
				width: 74.99%;
			}
			.col-lg-10{
				width: 83.33%;
			}
			.col-lg-11{
				width: 91.66%;
			}
			.col-lg-12{
				width: 100%;
			}
			.row{
				margin-left: 120px;
			}
		}

		/*Medium Devices Only*/
		@media (min-width: 768px) and (max-width: 991px) {
			.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
				float: left;
				border: 2px solid black

		}
		.col-md-1{
				width: 8.33%;
			}
			.col-md-2{
				width: 16.66%;
			}
			.col-md-3{
				width: 25%;
			}
			.col-md-4{
				width: 33%;
			}
			.col-md-5{
				width: 41.66%;
				margin-left: 48px;
				height: 200px;
			}
			.col-md-6{
				width: 50%;
			}
			.col-md-7{
				width: 58.33%;
			}
			.col-md-8{
				width: 66.66%;
			}
			.col-md-9{
				width: 74.99%;
			}
			.col-md-10{
				width: 83.33%;
			}
			.col-md-11{
				width: 91.66%;
			}
			.col-md-12{
				width: 100%;
				height: 150px;
			}
			div.one{
	margin-left: px;
	margin-bottom: 12px;
}
            div#one{
            	padding: 2px 47px 0px 47px;
            }
		}

		/*Mobile Devices*/
		@media (max-width: 767px) {
			.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
				float: left;
				border: 2px solid black
		}
		.col-xs-1{
				width: 8.33%;
			}
			.col-xs-2{
				width: 16.66%;
			}
			.col-xs-3{
				width: 25%;
			}
			.col-xs-4{
				width: 33%;
			}
			.col-xs-5{
				width: 41.66%;
			}
			.col-xs-6{
				width: 50%;
			}
			.col-xs-7{
				width: 58.33%;
			}
			.col-xs-8{
				width: 66.66%;
			}
			.col-xs-9{
				width: 74.99%;
			}
			.col-xs-10{
				width: 83.33%;
				margin-bottom: 20px;
				height: 200px;
				margin-left: 26px;

			}
			.col-xs-11{
				width: 91.66%;
			}
			.col-xs-12{
				width: 100%;
				margin-bottom: 15px;
				height: 200px;
			}
		}